<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #E6B10E; border-top: 1px solid #00629B; border-bottom: 1px solid #00629B;">

  <%= link_to(image_tag("IEEE-Engage.png", alt: "IEEE Icon", size: "320x32"), root_path, class: "navbar-brand") %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>

        <li class="nav-item">
          <%= link_to "About", home_about_path, class: "btn btn-secondary mx-2 nav-link", style: "background-color: #00629B;" %>
        </li>

        <li class="nav-item">
          <div class="text-center">
            <% if current_user.members.present? && current_user.members.first.present? %>
              <%= link_to "Members", root_path, class: "btn btn-secondary mx-2 nav-link", style: "background-color: #00629B;" %>
            <% else %>
              <%= link_to "Add Profile", new_member_path, class: "btn btn-secondary mx-2 nav-link", style: "background-color: #00629B;" %>
            <% end %>
          </div>
        </li> 

        <li class="nav-item">
          <%= link_to "Badges", home_badges_path, class: "btn btn-secondary mx-2 nav-link", style: "background-color: #00629B;" %>
        </li>

        <li class="nav-item">
          <%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-secondary mx-2 nav-link", style: "background-color: #00629B;" %>
        </li>

        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-secondary mx-2 nav-link", style: "background-color: #00629B;" %>
        </li>

        <% if current_user.admin? %>
          <li class="nav-item ml-4">
            <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-between align-items-center" role="alert" style="font-size: 16px; padding: 0.15rem; ">
              <h8 class="alert-heading mb-0">ADMIN</h8>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </li>
        <% end %>

      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary mx-2 nav-link", style: "background-color: #00629B;" %>
        </li>   

        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: "btn btn-secondary mx-2 nav-link", style: "background-color: #00629B;" %>
        </li>   
        
        <li class="nav-item">
          <%= link_to "Members", root_path, class: "btn btn-secondary mx-2 nav-link", style: "background-color: #00629B;" %>
        </li>   

      <% end %>

    </ul>
  </div>
</nav>
