<% if user_signed_in?%>
  <h1 style="text-align: center;">Purdue University Northwest IEEE Members List</h1>

  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-primary">
      <tr>
        <th>Profile Photo</th>
        <th>Name</th>
        <th>Email</th>
        <%# <th>Phone</th> %>
        <th>IEEE Membership Number</th>
        <th>HKN Status</th>
        <th>Major</th>
        <th>Grade Year</th>
        <th>Expected Graduation Date</th>
        <th>LinkedIn Username</th>
        <%# <th>Discord Username</th> %>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td>
            <% if member.profile_picture.attached? %>
              <%= image_tag member.profile_picture, class: "rounded-circle", style: "width: 50px; height: 50px;" %>
            <% else %>
              <%= image_tag "default_profile_picture.jpg", class: "rounded-circle", style: "width: 50px; height: 50px;" %>
            <% end %>
          </td>
          <td>
            <%= link_to member.first_name + ' ' + member.last_name, member %>
          </td>
          <td><%= member.email %></td>
          <%#= member.phone %>
          <td><%= member.ieee_membership_number %></td>
          <td><%= member.ieee_hkn ? 'Yes' : 'No' %></td>
          <td><%= member.major %></td>
          <td><%= member.grade_year %></td>
          <td><%= member.grad_date %></td>
          <td><%= member.linkedin_username %></td>
          <%#= member.discord_username %>
          <td>
            <%= link_to 'Show', member,  class: "btn btn-outline-danger btn-sm"   %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="text-center">
    <% if current_user.members.present? %>
      <%= link_to "Edit Your Membership Information", edit_member_path(current_user.members.first), class: "btn btn-secondary mx-auto" %> 
    <% else %>
      <%= link_to 'Add Your Membership Information', new_member_path, class: "btn btn-secondary mx-auto" %>
    <% end %>

    <% if current_user.admin? %>
      <%= link_to 'Add Members', new_member_path, class: "btn btn-secondary mx-auto" %>
    <% end %>
  </div>

<% else %>

<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">About IEEE at Purdue University Northwest</h2>
        <p class="card-text">
          The Institute of Electrical and Electronics Engineers (IEEE) is an international professional society devoted to advancing the theory and application of electrical engineering, electronics, and computing. Maximize your understanding and education at Purdue University Northwest through our IEEE student branch.
        </p>

        <p class="card-text">
          Gain experience with modern electric and autonomous vehicle technology while competing in the evGrand Prix. Join us on computer science projects from the IEEExtreme hack-athon to other practical applications with real-world problems. Throughout the year, there are numerous opportunities for us to give back to the community and promote public education.
        </p>

        <p class="card-text">
          Our mission is to develop students' skills through hands-on projects in cutting-edge technology that will lead to a more capable, future engineer.
        </p>

    <div class="text-center">
      <%= link_to "Learn More", "https://edu.ieee.org/us-pnw/", class: "btn btn-primary mx-2" %>
      <%= link_to "Join IEEE", "https://mypnwlife.pnw.edu/IEEE/club_signup", class: "btn btn-success mx-2" %>
      <%= link_to "Become a Sponsor", "https://connect.purdue.edu/s/givenowpnw?dids=026250&appealcode=20120", class: "btn btn-info mx-2" %>
      <%= link_to "Instagram", "https://www.instagram.com/ieee.pnw/", class: "btn btn-danger mx-2" %>
      <%= link_to "YouTube", "https://www.youtube.com/@ieeepnw9319", class: "btn btn-warning mx-2" %>
    </div>

      </div>
    </div>
  </div>

<% end %>