<p style="color: green"><%= notice %></p>

<div class="jumbotron">
  <p class="lead">
    <% if @member.profile_picture.attached? %>
      <%= image_tag @member.profile_picture, class: "rounded-circle", style: "width: 200px; height: 200px;" %>
    <% else %>
      <%= image_tag "default_profile_picture.jpg", class: "rounded-circle", style: "width: 200px; height: 200px;" %>
    <% end %>
  </p>
  <h1 class="display-4">
    <%= @member.first_name %>
    <%= @member.last_name %>
  </h1> 
  <br/>
  <h5>Contact:</h5>
  <p class="lead">
    Email: <%= @member.email %>  | 
    Phone #: <%= @member.phone %>  
  </p>
  <h5>IEEE Membership:</h5>
  <p class="lead">
    Membership Number: <%= @member.ieee_membership_number %>  | 
    Membership Grade: <%= @member.ieee_membership_grade %>  | 
    Active Member: <%= @member.ieee_membership_status ? 'Yes' : 'No'   %>  | 
    HKN Member: <%= @member.ieee_hkn ? 'Yes' : 'No'  %>
  </p>
  <h5>Social Media:</h5>
  <p class="lead">
    Linkedin username: <%= @member.linkedin_username %>  | 
    Discord username: <%= @member.discord_username %>
  </p>
  <h5>School:</h5>
  <p class="lead">
    Major: <%= @member.major %>  | 
    Grade year: <%= @member.grade_year %>  | 
    Expected Graduation Date: <%= @member.grad_date %>  
  </p>

  <h5>Badges:</h5> 
  <p class="lead">
    <% if @member.ieee_hkn %>
      <%= link_to home_badges_path(anchor: 'ieee_hkn_badge') do %>
        <%= image_tag "ieeehkncrest.png", style: 'border: 3px solid black; border-radius: 5px; width: 120px; height: 150px;' %>
      <% end %>
    <% end %>

    <% if @member.soldering_workshop %>
      <%= link_to home_badges_path(anchor: 'soldering_workshop') do %>
        <%= image_tag "soldering_workshop.png", style: 'border: 3px solid black; border-radius: 5px; width: 150px; height: 150px;' %>
      <% end %>
    <% end %>

    <% if @member.battery_workshop %>
      <%= link_to home_badges_path(anchor: 'battery_workshop') do %>
        <%= image_tag "battery_workshop.png", style: 'border: 3px solid black; border-radius: 5px; width: 150px; height: 150px;' %>
      <% end %>
    <% end %>

    <% if @member._3d_workshop %>
      <%= link_to home_badges_path(anchor: '_3d_workshop') do %>
        <%= image_tag "_3d_workshop.png", style: 'border: 3px solid black; border-radius: 5px; width: 150px; height: 150px;' %>
      <% end %>
    <% end %>
  </p>

  <br/>

<div style="display: flex; align-items: center;">
  <% if current_user == @member.user || current_user.admin? %>
    <%= link_to "Edit this member", edit_member_path(@member), class: "btn btn-secondary", style: "margin-right: 10px;" %> 
  <% end %>
  <%= link_to "Back to members", members_path, class: "btn btn-secondary", style: "margin-right: 10px;" %> 
  <%#= button_to "Delete this member", @member, method: :delete, class: "btn btn-danger", style: "" %>
</div>
